<div style="padding: 5px;overflow: hidden;">
    <form id="cluster_form" method="post">{% csrf_token %}
        {{ form.as_p }}
    </form>
</div>

<script type="text/javascript">
    function saveCluster(url,action) {
        var f =  $('#cluster_form').form();
        $('#cluster_form').form('submit', {
            url : url,
            success : function(r) {
                var obj = jQuery.parseJSON(r);
                if (obj.success) {
                    var d=getFrameComponent('#cluster_datagrid');
                                        //console.info(d);
                    if(action=='edit'){
                        d.datagrid('updateRow',{
                            index:d.datagrid('getRowIndex',obj.obj.id),
                            row:obj.obj
                        });
                    }else{
                        d.datagrid('insertRow',{
                            index:0,
                            row:obj.obj
                        });
                    }
                    d.datagrid('selectRecord',obj.obj.id);
                    $('#cluster_dialog').dialog('close');
                }
                $.messager.show({
                    title : '提示',
                    msg : obj.msg
                });
            }
        });
    }
    
</script>
