{% extends "base.html" %}

{% block js %}
        <script type="text/javascript">

            function searchCluster() {
                $('#cluster_datagrid').datagrid('load', serializeObject($('#cluster_searchForm')));
            }
           
            function clear() {
                $('#admin_yhgl_layout input[name=clusterName]').val('');
                $('#cluster_datagrid').datagrid('load', {});
            }
            
            function addCluster() {
                parent.dialog({
                    id: 'cluster_dialog',
                    title : '添加用户',
                    href : '/cluster/add',
                    width : 440,
                    height : 200,
                    buttons : [ {
                            text : '保存',
                            handler : function() {
                                parent.saveCluster('/cluster/add','add');
                            }
                        } ],
                    onLoad : function() {
                        parent.setState();                        
                    }
                });
            }
            
            function editCluster() {
                var rows = $('#cluster_datagrid').datagrid('getSelections');
                if (rows.length == 1) {
                    var clusterId= rows[0].clusterId;
                    parent.dialog({
                        id: 'cluster_dialog',
                        title : '修改集群配置',
                        href : '/cluster/edit/'+clusterId,
                        width : 440,
                        height : 200,
                        buttons : [ {
                                text : '保存',
                                handler : function() {
                                    parent.saveCluster('/cluster/edit/'+clusterId,'edit');
                                }
                            } ],
                        onLoad : function() {
                            parent.setState();                        
                        }
                    });
                } else if (rows.length > 1) {
                    parent.messagerAlert('提示', '同一时间只能编辑一条记录！', 'error');
                } else {
                    parent.messagerAlert('提示', '请选择要编辑的记录！', 'error');
                }
            }
            
            function removeCluster() {
                var rows = $('#cluster_datagrid').datagrid('getChecked');
                var ids = [];
                if (rows.length > 0) {
                    $.messager.confirm('确认', '您是否要删除当前选中的项目？', function(r) {
                        if (r) {
                            for ( var i = 0; i < rows.length; i++) {
                                ids.push(rows[i].clusterId);
                            }
                            $.ajax({
                                url : '/cluster/del',
                                data : {
                                    ids : ids.join(',')
                                },
                                dataType : 'json',
                                method: 'get',
                                success : function(r) {
                                    console.info('result:'+r.success);                                
                                    if(r.success){
                                        $('#cluster_datagrid').datagrid('load');
                                        $('#cluster_datagrid').datagrid('unselectAll');                                        
                                    }
                                    $.messager.show({
                                        title : '提示',
                                        msg : r.msg
                                    });
                                },
                                error:function (XMLHttpRequest, textStatus, errorThrown) {
//                                    $.messager.show({
//                                        title : '提示',
//                                        msg : XMLHttpRequest.responseText
//                                    });
                                    alert(XMLHttpRequest.responseText);
                                }
                            });
                        }
                    });
                } else {
                    $.messager.show({
                        title : '提示',
                        msg : '请勾选要删除的记录！'
                    });
                }
            }
            
        </script>
    </head>
{% endblock %}

{% block boby %}
    <body  class="easyui-layout" data-options="fit:true">

        <div data-options="region:'north',title:'查询条件',border:false" style="height: 100px;">
            <form id="cluster_searchForm">
                检索集群名称(可模糊查询)：<input name="clusterName" /> 
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="searchCluster()">查询</a> 
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="clear()">清空</a>
            </form>
        </div>

        <div data-options="region:'center',border:false" style="overflow: hidden;">
            <!--            <table id="admin_yhgl_datagrid"></table>-->

            <table class="easyui-datagrid" id="cluster_datagrid"    
                   data-options="rownumbers:true,
                   singleSelect:true, 
                   fit : true, 
                   fitColumns : true,
                   url:'/cluster/find',
                   idField : 'id',
                   method: 'get',
                   pagination : true,
                   border:false,
                   toolbar:'#toolbar' ">  
                <thead>  
                    <tr>  
                        <th data-options="field:'_id',checkbox:true, width:80">ID</th>
                        <th data-options="field:'clusterId', width:80">Cluster ID</th>
                        <th data-options="field:'masterJMXUrl',width:80">HMaster JMX URL</th>  
                        <th data-options="field:'description',width:100">description</th>  
                    </tr>  
                </thead>  
            </table>  
        </div>
        <div id="toolbar" style="height:auto">  
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addCluster()">新增</a>  
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeCluster()">删除</a>  
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editCluster()">修改</a> 
        </div>
    </body>
{% endblock %}
